<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>sanphamServlet</servlet-name>
        <servlet-class>controller.sanphamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletespServlet</servlet-name>
        <servlet-class>controller.deletespServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taikhoanServlet</servlet-name>
        <servlet-class>controller.taikhoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangkynvServlet</servlet-name>
        <servlet-class>controller.dangkynvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editnvServlet</servlet-name>
        <servlet-class>controller.editnvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSanpham</servlet-name>
        <servlet-class>controller.deleteSanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themnvServlet</servlet-name>
        <servlet-class>controller.themnvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editspServlet</servlet-name>
        <servlet-class>controller.editspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatespServlet</servlet-name>
        <servlet-class>controller.updatespServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteuserServlet</servlet-name>
        <servlet-class>controller.deleteuserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themspServlet</servlet-name>
        <servlet-class>controller.themspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themcartServlet</servlet-name>
        <servlet-class>controller.themcartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecartServlet</servlet-name>
        <servlet-class>controller.updatecartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecartServlet</servlet-name>
        <servlet-class>controller.deletecartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sanphamServlet</servlet-name>
        <url-pattern>/admin/danhsachsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>/admin/danhsachsp.jsp</welcome-file>
        <welcome-file>/pageshop/home.jsp</welcome-file>
        <welcome-file>/pageshop/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>deletespServlet</servlet-name>
        <url-pattern>/deletespServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taikhoanServlet</servlet-name>
        <url-pattern>/admin/danhsachus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangkynvServlet</servlet-name>
        <url-pattern>/dangkynvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editnvServlet</servlet-name>
        <url-pattern>/editnvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSanpham</servlet-name>
        <url-pattern>/deleteSanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themnvServlet</servlet-name>
        <url-pattern>/themnvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editspServlet</servlet-name>
        <url-pattern>/editspServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatespServlet</servlet-name>
        <url-pattern>/updatespServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteuserServlet</servlet-name>
        <url-pattern>/deleteuserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themspServlet</servlet-name>
        <url-pattern>/themspServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themcartServlet</servlet-name>
        <url-pattern>/themcartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecartServlet</servlet-name>
        <url-pattern>/updatecartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecartServlet</servlet-name>
        <url-pattern>/deletecartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
